/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
  display: inline;
  margin-inline: 5px;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
#infoArticolo {
  font-size: smaller;
}

p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
#tableConteiener {
  padding-right: 45px;
}

table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */

#novita {
  background-color: #33333365;
  text-transform: capitalize;
  font-weight: bold;
  font-size: medium;
}
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
}
footer a {
  color: fuchsia;
}

#imgFiveCont {
  border: solid #00a0c6 3px;
  width: 60px;
  text-align: center;
  height: 60px;
}
#imgFiveCont img {
  width: 50px;
  margin-top: 3px;
}

#contenitoreEsterno {
  border: solid #900080 3px;
  width: 66px;
  height: 66px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 6rem;
  }

  table {
    width: auto; /* si riduce alla dimensione del contenuto */
    margin: 0 auto;
    margin-block: 80px;
  }

  input {
    width: 600px;
    height: 40px;
  }

  button {
    height: 40px;
    padding-inline: 25px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding-inline: 100px;
  }
  header {
    overflow: hidden;
    padding: 10px;
  }
  header div img,
  header div p {
    float: left;
    margin: 0px;
  }
  header div p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
  }
  nav {
    margin-top: 15px;
    margin-right: 20px;
    float: right;
  }

  h1 {
    font-size: 5rem;
  }

  #primoP {
    margin-top: 10px;
  }

  #tableConteiener {
    padding-inline: 200px;
    text-align: center;
  }
  table {
    width: 100%;
  }

  #bloccoVideoNov {
    text-align: center;
  }

  #bloccoVideoNov iframe {
    display: inline-block;
    width: 45%;
    height: 250px;
  }
  #bloccoVideoNov section {
    display: inline-block;
    width: 50%;
    height: 250px;
    padding: 20px;
    margin-left: -5px;
    border-radius: 20px;
  }
  iframe,
  #bloccoVideoNov section {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    width: 400px;
    height: 40px;
    text-align: left;
  }

  #bloccoVideoNov section p {
    text-align: left;
    margin-top: 40px;
  }
  aside {
    text-align: center;
  }
  aside div {
    display: inline-block;
    width: 33%;
    margin-inline: -6px;
    text-align: left;
  }
}
